/*Take out the comments around each rule.

Try changing the display property*/
/*span{
     background-color: red;
     display: block;
}*/
/*p{
		  background-color: yellow
}*/
      
/*div{
		   display: inline-block;
		   background-color: green;
}*/