/*Can you:
  1) Put these divs next to each other
  	-Make the screen smaller, still working?
  2) Make them taller?
  3) Can you now center them under each other?
*/

h2{
	text-align: center;
}

div{
	background-color: #0000CC;
	color:#ffffff;
	box-sizing:border-box;

	/*add here, width, display, margin*/
	width:49%;
	display: inline-block;  /*Importante para incluir dos bloques en una línea/renglón*/
	height: 200px;
	margin:5px;
	border: 20px solid #000000;
	padding: 10px;
  margin: 0 auto;  /*Importante para incluir dos bloques en una línea/renglón*/
	margin-top: 50px; /* Del Top del navegador al inicio del div */
}

